html,
body {
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  width: 100%;

}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
pre {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/*nav*/
nav {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 80%;
}
nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  margin: 0;
  justify-content: space-between;
  z-index: 1;
}

nav div h1 {
  font-family: "Allison", cursive;
}

nav ul li {
  font-size: 0.8em;
}

nav ul li a {
  list-style: none;
  color: white;
  font-size: large;
}

nav ul li a:hover {
  list-style: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}



/*menu hamburger*/
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: 1s;
}
.menu-toggle input {
  position: absolute;
  width: 30px;
  height: 28px;
  top: -4px;
  left: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-3px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: translatex(-30px) scale(0);
  opacity: 0;
  transition: 1s;
}

@media (max-width: 768px) {
  button,input,label,textarea{

    display: block;
    margin: 0 auto;
    width: 100%;
    color: white;
    font-size: large;
}
html{

  scroll-behavior: smooth;

}
.video{

  top:0;
  position:absolute;
  right:0;

}

video{

width: 100%;
height: 100vh;
position:absolute;
object-fit: cover;
left:0;
z-index:-1;
right:0;
top:0;

}
input,textarea{

    background: transparent;
    border: 0;
    border-bottom: solid 4px black;
   

}
input:hover,textarea:hover{

  border-bottom: solid 4px white;

}

button[type=submit]{

    background: black;
    padding: 10px 0;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    border-bottom: none;
    transition: all .2s ease-in;
    
}

button[type=submit]:hover{
    background: darkred;  
    transform: scale(1.05);  

}
input:focus,
textarea:focus{

    outline:1px solid;

}

  .menu-toggle {
    display: flex;
    z-index: 1;
    right: -60px;
  }
  nav {
    background: green;
  }

  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    background-color: black;
    top: 0;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(0);
    transition: all 1s;
    z-index: -1;
  }

  nav ul li a {
    list-style: none;
    color: white;
    font-size: large;
  }

  nav ul.slide {
    z-index: -2;
    transform: translateX(100%);
  }
  .kotak2 {
    height: 400px;
  }
  .row .kotak .form{

    max-width: 800px;
    margin: -50px auto;
    text-align: left;
    padding: 20px 0;
    transform: scale(0.9);
    
}

.row .kotak .form label{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;

}
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: blue;
  z-index: 1;
}

.kotak {
  padding: 15px;
  height: 600px;
  background: #008000;
  opacity: 50%;
  z-index: 2;
}

.profile {
  margin-top: 300px;
}



/* .kotak1{

    padding: 15px;
    height: 200px;
    background: green;
    

} */

.row .card {
  margin: 10px;
}

.kotak2 {
  height: 400px;
  margin: 10px;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.kotak h1 {
  text-align: center;
  color: white;
  z-index: 3;
}


